<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] ShredMates</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <nav class="navbar">
        <div class="container nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ShredMates</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- nav all users -->
                    <li>@await Component.InvokeAsync("Snowboard")</li>
                    <li>@await Component.InvokeAsync("Splitboard")</li>
                    <li>@await Component.InvokeAsync("Ski")</li>
                    <li>@await Component.InvokeAsync("Wakeboard")</li>
                    <li>@await Component.InvokeAsync("Kitesurf")</li>
                    <!--nav admin -->
                    @if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.AdminRole))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/">
                                Create<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="Admin" asp-controller="Categories" asp-action="Create">Create Category</a></li>
                                <li><a asp-area="Admin" asp-controller="Products" asp-action="Create"> Create Product</a></li>
                            </ul>
                        </li>
                        <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                    }
                    <li><a asp-area="" asp-controller="Brands" asp-action="Index">Brands</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <!-- Shopping Cart-->
                    @await Component.InvokeAsync("ShoppingCart")
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (TempData.ContainsKey(WebConstants.SuccessMessage))
        {
            <div class="alert alert-success">
                @TempData[WebConstants.SuccessMessage]
            </div>
        }
        @if (TempData.ContainsKey(WebConstants.ErrorMessage))
        {
            <div class="alert alert-danger">
                @TempData[WebConstants.ErrorMessage]
            </div>
        }
        @if (TempData.ContainsKey(WebConstants.WarningMessage))
        {
            <div class="alert alert-warning">
                @TempData[WebConstants.WarningMessage]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 ShredMates Store</p>
        </footer>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
